.container {
    .firstContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 20px;
        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding-top: 20px;
            .avatar {
                border-radius: 100%;
                object-fit: fill;
            }
        }
        .right {
            width: 50%;
            position: relative;
            height: 250px;
            .img {
                object-fit: cover;
            }
        }
    }
    .secondContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 13px;
        text-align: justify;
    }
}